@import "../../../scss/variables";
.rc-slider-rail {
  height: $budget_heigth;
}
.rc-slider-track {
  background-color: $budget_background-color;
  height: $budget_heigth;
}
.rc-slider-step {
  height: $budget_heigth;
}
.rc-slider-dot {
  bottom: -1px;
  width: 10px;
  height: 10px;
}
.rc-slider-handle {
  border: 2px solid $budget_background-color;
  background-color: $budget_background-color;
}
.rc-slider-handle:hover {
  border-color: $budget_background-color;
}
.rc-slider-handle-click-focused:focus {
  border-color: $budget_border-color;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: $budget_border-color;
  box-shadow: 0 0 0 1px $budget_border-color;
}
