$color: rgb(24, 23, 23);
.result_window {
  color: $color;
  padding: 1em;
}
.error {
  background-color: rgb(231, 81, 81);
  color: $color;
}
.invitation {
  color: $color;
}
.invisible {
  visibility: hidden;
}
